LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BSPDIR := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../..')}"

BBFILES ?= ""
BBLAYERS = " \
  ${BSPDIR}/layers/openembedded-core/meta \
  \
  ${BSPDIR}/layers/meta-openembedded/meta-oe \
  ${BSPDIR}/layers/meta-openembedded/meta-gnome \
  \
  ${BSPDIR}/layers/meta-rpb \
  ${BSPDIR}/layers/meta-96boards \
  ${BSPDIR}/layers/meta-linaro/meta-linaro-toolchain \
  \
  ${BSPDIR}/layers/meta-qcom \
  ${BSPDIR}/layers/meta-browser \
"
